.homepage {
  text-align: center;
}

.youtube-video {
  position:relative;
  height:0;
  padding-bottom:56.25%;
  margin-top: 50px
}

.embed-iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

hr {
  width: 80%;
}

.aboutSection-container {
  width: 80%;
  margin: 40px auto 0 auto;
}


.images {
  position: relative;
  width: 33.3333%;
  display: inline-block;
}

.pic-title {
  position: absolute;
  top: 65%;
  left: 24%;
}

.about-info {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.properties-button {
  width: 80%;
  border: 1px solid #999;
  background-color: #999; 
  margin: 0 auto 50px auto;
  height: 100px;
}

.properties-link {
  display: block;
  vertical-align: middle;
  line-height: 100px;
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

.properties-button:hover {
  cursor: pointer;
  background-color: #888;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 640px) {
  .images {
    display: block;
    width: 100%;
  }

  .embed-iframe {
    width: 90%;
    height: 90%;
  }

  .about-info {
    width: 80%;
    padding-top: 0px; 
  }

  .aboutSection-container {
    width: 100%;
  }
}